.place__title {
    max-width: 460px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 72px;
    font-family: Inter;
    font-weight: 900;
    line-height: 1.1;
    margin: 0 0 48px 0;
    padding: 0;
    grid-row: 1;
}

@media screen and (max-width: 1024px) {
    .place__title {
        max-width: 440px;
        margin-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        max-width: 340px;
        color: #FFF;
        font-size: 42px;
        line-height: 46px;
        margin-left: 24px;
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        max-width: 288px;
        color: #FFF;
        font-size: 32px;
        line-height: 35px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 32px;
    }
}