.lead__images {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    padding-top: 64px;
    max-width: 100%;
    min-height: 615px;
    display: block;
}

@media screen and (max-width: 1024px) {
    .lead__images {
        min-height: 580px;
    }
}

@media screen and (max-width: 768px) {
    .lead__images {
        min-height: 480px;
        margin: 0;
    }
}

@media screen and (max-width: 320px) {
    .lead__images {
        min-height: 200px;
    }
}