.lead__images {
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    padding-top: 64px;
    max-width: 984px;
    min-height: 615px;
}

@media screen and (max-width: 1024px) {
    .lead__images {
        max-width: 928px;
        min-height: 580px;
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead__images {
        max-width: 768px;
        min-height: 480px;
        margin: 0;
    }
}

@media screen and (max-width: 320px) {
    .lead__images {
        max-width: 320px;
        min-height: 200px;
    }
}