.footer__contaner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 719px) {
    .footer__contaner {
        flex-direction: column;
        justify-content:flex-start;
    }
}
